.container { 
    padding: 1rem;   
    margin-top: 1.5rem;
    width: 100%;
    background: #fff;
    color: #000;
    border-radius: 0.5rem;

    .contenedor { 
        margin-bottom: 1rem;
        border: 5px solid #FFA500;   
        padding: 2rem;
        border-radius: 0.5rem;     
    }   
}
