<div class="container">
    <h1>Game Set #{{gameSet}}</h1>
    <div class="marcador">
        <div class="equipo1" #equipo1>
            <label for="">{{ match.team1 }}</label>
            <input type="number" value="0" class="score1" #score1 [disabled]="disableElement">
        </div>
        <div class="equipo2" #equipo2>
            <label for="">{{ match.team2 }}</label>
            <input type="number" value="0" class="score2" #score2 [disabled]="disableElement">
        </div>
    </div>  
    <div class="servicio">
        <div class="servicio1">
            <label for="">Servicio</label>
            <input type="checkbox" class="chbx-equipo1" [checked]="checkForService">
            <button                 
                class="btn-team1" 
                (click)="addScoreTeam(1)" 
                [disabled]="disableElement">Puntaje
            </button>
        </div>        
        <div class="servicio2">
            <label for="">Servicio</label>
            <input type="checkbox" class="chbx-equipo2" [checked]="!checkForService">
            <button                 
                class="btn-team2" 
                (click)="addScoreTeam(2)" 
                [disabled]="disableElement">Puntaje
            </button>
        </div>
    </div>                  
</div>