<div class="container">
    <h1>Marcador</h1>
    <div class="marcador">
        <div class="equipo1">
            <label for="">{{ match.team1 }}</label>
            <input type="number" value="0" class="score1">
        </div>
        <div class="equipo2">
            <label for="">{{ match.team2 }}</label>
            <input type="number" value="0" class="score2">
        </div>
    </div>  
    <div class="servicio">
        <div class="servicio1">
            <label for="">Servicio</label>
            <input type="checkbox" class="chbx-equipo1" (click)="setService()" [checked]="checkForService">
            <button class="btn-team1" (click)="addScoreTeam1()">Puntaje</button>
        </div>        
        <div class="servicio2">
            <label for="">Servicio</label>
            <input type="checkbox" class="chbx-equipo2" (click)="setService()" [checked]="!checkForService">
            <button class="btn-team2" (click)="addScoreTeam2()">Puntaje</button>
        </div>
    </div>                  
</div>