.container {
  width: 100%;
  background: #fff;
  color: #000;
  border-radius: 0.5rem;

  .form {
    margin-top: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

    label {
      font-weight: bold;
    }

    .team1,
    .team2 {
      outline: none;
      padding: 0.5rem;

      &:focus {
        border: 2px solid #568df3;
      }
    }

    .btnJugar {
      margin-top: 1.5rem;
      grid-column-end: span 2;
      padding: 0.5rem;
      border: 1px solid #568df3;
      background-color: #568df3;
      border-radius: 0.5rem;
      color: #fff;
      outline: none;

      &:hover,
      &:active {
        background: #2568e6;
        cursor: pointer;
      }
    }
  }
}
